.search-bar {
  margin-right: 10px;
}

.nba-logo {
  margin-top: -10px;
  float:right;
  margin-right: -45px;
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.point-leaders {
  margin-bottom: 5px;
}

.game-time {
  float: right;
  margin-top: -10px;
}
